:root {
  --color-black: #042442;
  --color-white: #fff;
  --color-blue: #41A1F2;
  --color-gray: #445361;
  --color-border: #EFF4F8;
  --color-light-gray: #C5D7E7;
  --transition: all 0.3s ease-in-out;
  --padding: 110px;
  --translate: -110px;
  --transition-header: .1s linear; }

/*
@include font-face("Gilroy-Extrabold", "../fonts/Gilroy-Extrabold", 800, normal);
@include font-face("Gilroy-Medium", "../fonts/Gilroy-Medium", 500, normal);
@include font-face("Gilroy-Semibold", "../fonts/Gilroy-Semibold", 600, normal);*/
@font-face {
  font-family: "GilroyBlack";
  src: url("../fonts/../fonts/GilroyBlack.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "GilroyExtrabold";
  src: url("../fonts/../fonts/GilroyExtrabold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "GilroySemibold";
  src: url("../fonts/../fonts/GilroySemibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "GilroyMedium";
  src: url("../fonts/../fonts/GilroyMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "GilroyRegular";
  src: url("../fonts/../fonts/GilroyRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: "Gilroy", Arial, sans-serif; }

p {
  --font-family: GilroyMedium;
  font: 500 20px/140% var(--font-family), Arial, sans-serif;
  color: var(--color-black); }

h2 {
  --font-family: GilroyExtrabold;
  font: 800 50px/140% var(--font-family), Arial, sans-serif;
  color: var(--color-black); }

h4 {
  --font-family: GilroyExtrabold;
  font: 800 40px/140% var(--font-family), Arial, sans-serif; }

h5 {
  --font-family: GilroyExtrabold;
  font: 800 25px/140% var(--font-family), Arial, sans-serif; }

h6 {
  --font-family: GilroySemibold;
  font: 600 20px/140% var(--font-family), Arial, sans-serif; }

body::-webkit-scrollbar {
  width: 1em; }

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 30px; }

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 30px; }

#section-date,
#section-speak,
#section-app,
#section-program {
  scroll-behavior: smooth; }

*,
*::before,
*::after {
  box-sizing: inherit; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0; }

.is-outer {
  position: relative !important;
  left: -9999px !important; }

.site-container {
  overflow: hidden; }

.is-hidden {
  display: none !important; }

.for-mobile {
  display: none; }
  @media (max-width: 768px) {
    .for-mobile {
      display: block; } }

h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
  color: var(--color-black); }

.error {
  border: 2px #ff4019 solid !important; }

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer; }

.js-focus-visible :focus:not(.focus-visible) {
  outline: none; }

.logo {
  display: inline-block; }

.top-block {
  background: url("../img/Slider.jpg") 100% 100% no-repeat;
  background-size: cover; }

.wrapper-top {
  padding: 130px 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.block-info h1 {
  --font-family: GilroyBlack;
  font: 900 80px/120% var(--font-family), Arial, sans-serif;
  color: var(--color-black);
  margin-bottom: 80px; }

.btn.btn--start {
  --font-family: GilroyMedium;
  font: 500 20px/140% var(--font-family);
  color: var(--color-white);
  transition: var(--transition);
  padding: 20px 40px;
  background: linear-gradient(90deg, #4BC2F9 -6.9%, #44DBB5 103.92%);
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.07);
  border-radius: 40px;
  text-decoration: none; }
  .btn.btn--start br {
    display: none; }
  .btn.btn--start:hover {
    color: var(--black); }
  .btn.btn--start:focus-visible {
    outline: none;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.07);
    color: var(--black); }
  .btn.btn--start:active {
    color: var(--black); }
  .btn.btn--start:focus {
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.07);
    color: var(--black); }

.main {
  padding-top: var(--padding); }

.section-date {
  background-color: var(--color-white);
  padding: 150px 0 120px 0; }

.wrap-preview {
  display: flex;
  align-items: baseline;
  justify-content: space-between; }

.date-description {
  margin-top: 120px; }
  .date-description p {
    /*--font-family: GilroyMedium;
    font: 500 20px / 140% var(--font-family);*/
    color: var(--color-black); }
  .date-description h3 {
    --font-family: GilroyExtrabold;
    font: 800 25px/140% var(--font-family);
    color: var(--color-blue);
    margin-bottom: 20px; }

.date-description-preview {
  max-width: 380px;
  height: auto;
  min-height: 230px;
  background-color: var(--color-white);
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding: 35px 35px 24px 35px;
  margin-bottom: 20px;
  flex-shrink: 0;
  align-self: stretch; }
  .date-description-preview i {
    display: block;
    width: 60px;
    height: 60px;
    margin-bottom: 24px; }
  .date-description-preview p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-black); }

.block-bg-prev {
  width: 768px;
  height: 656px;
  background: url("../img/date-preview-bg.svg") 100% 100% no-repeat;
  background-size: contain;
  position: relative; }

.block-reg {
  width: 522px;
  height: 330px;
  padding: 40px 63px 47px 63px;
  background-color: var(--color-white);
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 312px;
  left: 127px;
  display: flex;
  flex-direction: column; }
  .block-reg h3 {
    --font-family: GilroyExtrabold;
    font: 800 38px/120% var(--font-family);
    background: -webkit-linear-gradient(#44dbb5, #4bc2f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 30px; }
  .block-reg p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
    text-align: center; }
  .block-reg a {
    --font-family: GilroySemibold;
    font: 600 40px/120% var(--font-family);
    color: var(--color-blue);
    position: relative;
    text-decoration: none;
    text-align: center;
    margin-bottom: 40px; }
    .block-reg a:before {
      content: '';
      width: 32px;
      height: 32px;
      display: block;
      position: absolute;
      top: calc(50% - 11px);
      left: 23px;
      background: url("../img/EnvelopeOpen.png") no-repeat;
      background-size: cover; }
  .block-reg span {
    --font-family: GilroyMedium;
    font: 500 18px/140% var(--font-family);
    color: var(--color-black);
    width: 100%;
    text-align: center; }

.section-speak {
  background: url("../img/speak-bg.jpg") 100% 100% no-repeat;
  background-size: cover;
  padding: 90px 0 160px 0; }
  .section-speak h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    color: var(--color-black);
    margin-bottom: 50px; }
  .section-speak .card {
    background-color: var(--color-white);
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    padding: 30px 30px 30px 34px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%; }
    .section-speak .card h5 {
      font-style: normal;
      font-weight: 800;
      font-size: 25px;
      line-height: 140%;
      color: var(--color-black);
      margin-bottom: 20px; }
      .section-speak .card h5 span {
        color: var(--color-blue);
        display: block; }
    .section-speak .card .card-avatar {
      width: 120px;
      height: 120px;
      flex-shrink: 0;
      border-radius: 50%;
      margin-right: 30px; }
    .section-speak .card img {
      border-radius: 50%; }
    .section-speak .card p {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: var(--color-gray); }

.section-app {
  padding: 160px 0 150px 0;
  background-color: var(--color-white); }
  .section-app h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    color: var(--color-black);
    margin-bottom: 30px; }
  .section-app p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-black); }

.block-picture {
  flex-shrink: 0;
  width: 720px;
  height: 710px; }
  .block-picture img {
    width: 100%;
    height: 100%; }

.card-app {
  width: 100%;
  height: 262px;
  margin-top: 100px;
  background-color: var(--color-border);
  border-radius: 20px;
  position: relative;
  padding: 40px; }
  .card-app a {
    display: inline-block;
    transition: var(--transition);
    box-sizing: border-box;
    border: 1px solid transparent;
    text-decoration: none; }
    .card-app a img {
      transition: var(--transition); }
    .card-app a:hover img {
      transform: scale(1.05); }
  .card-app p {
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 140%;
    color: var(--color-blue);
    margin-bottom: 0; }
  .card-app h4 {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 40px; }
  .card-app .block-phone {
    position: absolute;
    top: -62px;
    right: 53px; }

.section-program {
  background: url("../img/line-bg.png") 100% 25% no-repeat;
  background-size: cover;
  max-width: 1640px;
  margin: 0  auto 100px; }
  .section-program h2 {
    font-size: 50px;
    line-height: 60px;
    color: var(--color-black); }
  .section-program p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-black); }
  .section-program .line-right {
    position: relative; }
    .section-program .line-right:after {
      content: attr(data-date);
      position: absolute;
      top: 0;
      left: -300px;
      display: block;
      --font-family: GilroyExtrabold;
      font: 800 25px/140% var(--font-family);
      color: var(--color-blue);
      flex-shrink: 0; }
    .section-program .line-right ul {
      padding: 0;
      margin: 0 0 70px 0; }
      .section-program .line-right ul li {
        margin-bottom: 25px; }
        .section-program .line-right ul li a {
          text-decoration: none;
          --font-family: GilroyMedium;
          font: 500 18px/140% var(--font-family);
          color: var(--color-black); }
          .section-program .line-right ul li a:hover span {
            color: var(--color-black); }
          .section-program .line-right ul li a:focus-visible {
            outline: none; }
            .section-program .line-right ul li a:focus-visible span {
              color: var(--color-black); }
          .section-program .line-right ul li a:visited {
            color: #44DBB5; }
            .section-program .line-right ul li a:visited span {
              color: #44DBB5; }
      .section-program .line-right ul p {
        font-style: normal;
        font-size: 18px;
        line-height: 140%;
        color: var(--color-black); }
      .section-program .line-right ul span {
        color: var(--color-blue);
        transition: var(--transition);
        display: block; }
    .section-program .line-right h6 {
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      color: var(--color-black);
      margin-bottom: 20px; }
      .section-program .line-right h6 span {
        color: var(--color-blue); }

.block-line {
  margin-bottom: 50px; }

.container-line {
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  border-radius: 20px;
  padding: 56px 60px 56px 360px;
  position: relative; }
  .container-line:after {
    content: '';
    position: absolute;
    top: 50px;
    left: 280px;
    display: block;
    width: 1px;
    height: calc(100% - 100px);
    background: var(--color-light-gray); }

.line-right:last-child ul {
  margin-bottom: 0; }
  .line-right:last-child ul li:last-child {
    margin-bottom: 0; }

.section-video {
  margin-bottom: 70px; }
  .section-video .wrap-video {
    background: url(../img/video-bg.svg) center center no-repeat;
    background-size: cover;
    padding-top: 72px;
    padding-bottom: 50px; }
    .section-video .wrap-video .block-video {
      width: 1080px;
      height: 580px;
      background: url(../img/previe-video.jpg) center center no-repeat;
      background-size: contain;
      margin: 0 auto;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative; }
      .section-video .wrap-video .block-video:before {
        content: "";
        position: absolute;
        width: 1076px;
        height: 100%;
        display: block;
        background: rgba(4, 36, 66, 0.4);
        border-radius: 20px; }
      .section-video .wrap-video .block-video h5 {
        font-style: normal;
        font-weight: 800;
        font-size: 50px;
        line-height: 60px;
        color: var(--color-white);
        margin-bottom: 240px;
        position: relative;
        z-index: 2;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }

.btn.btn--video {
  background: linear-gradient(90deg, #4BC2F9 -6.9%, #44DBB5 103.92%);
  border-radius: 30px;
  --font-family: GilroyExtrabold;
  font: 800 16px/100% var(--font-family);
  color: var(--color-white);
  text-transform: uppercase;
  padding: 17px 70px 17px 26px;
  position: relative;
  transition: var(--transition);
  text-decoration: none;
  z-index: 2; }
  .btn.btn--video:before {
    content: '';
    position: absolute;
    top: calc(50% - 12px);
    right: 30px;
    display: block;
    width: 24px;
    height: 24px;
    background: url("../img/player-play-circle.svg") 0 0 no-repeat;
    background-size: cover; }

.hidden-row {
  display: none !important; }

/*# sourceMappingURL=global.css.map */
