<header class="header">
  <div class="container">
	  <div class="row">
		  <div class="col-xl-2 col-lg-2 col-md-6 col-6">
			  <a class="logo" href="/">
				  <img src="./img/logo.svg"
				       width="140"
				       height="56"
				       alt="РУДН приёмная комиссия">
			  </a>
		  </div>
		  <div class="col-xl-8 col-lg-8 d-none d-sm-none d-md-none d-lg-block d-xl-block">
			  <nav>
				  <ul class="nav-items">
					  <li><a href="#section-date">Информация</a></li>
					  <li><a href="#section-speak">Спикеры</a></li>
					  <li><a href="#section-app">Рекомендация</a></li>
					  <li><a href="#section-program">Программа</a></li>
				  </ul>
			  </nav>
		  </div>
		  <div class="col-xl-2 col-lg-2 col-md-6 col-6">
			 <div class="block-social">
				 <ul class="social-items">
					 <li><a href="http://vkontakte.ru/club1711" target="_blank">
						 <img src="./img/vk.svg"
						      width="24"
						      height="24"
						      alt="vk">
					 </a></li>
					 <li><a href="https://www.facebook.com/RUDN.University" target="_blank">
						 <img src="./img/facebook.svg"
						      width="24"
						      height="24"
						      alt="facebook">
					 </a></li>
					 <li><a href="https://twitter.com/UniversityRudn" target="_blank">
						 <img src="./img/twitter.svg"
						      width="24"
						      height="24"
						      alt="twitter">
					 </a></li>
				 </ul>
			 </div>
		  </div>
	  </div>
  </div>
</header>
