// COLORS
:root {
  --color-black: #042442;
  --color-white: #fff;
  --color-blue: #41A1F2;
  --color-gray: #445361;
  --color-border: #EFF4F8;
  --color-light-gray: #C5D7E7;
  --transition: all 0.3s ease-in-out;
  --padding: 110px;
  --translate: -110px;
  --transition-header: .1s linear;
}

